* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

html {
  scroll-behavior: smooth;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.fwgrigino {
  background-color: #f5f8fa;
  border-top: 1px solid #cbd6e2;
  border-bottom: 1px solid #cbd6e2;
  /*border: 1px solid black;*/
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-grigino {
  background-color: #f5f8fa;
  height: 80px;
  position: fixed;
  width: 100%;
}

/************* HEADER ***************/

#header {
  position: fixed;
  /*provvisori*/
  height: 80px;
  width: 100%;
  margin: auto auto;
}

.container-dentro-header {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.minicontainer-sx {
  width: 35%;
  height: 100%;
  float: left;
  margin-left: 10px;
}

.minicontainer-dx {
  width: 35%;
  height: 100%;
  float: right;
  margin-right: 10px;
}

input {
  width: 125px;
  height: 23px;
}

.minion {
  height: 100%;
  width: 33%;
  float: left;
  line-height: 70px;
}

.minion1 {
  width: 30%;
}

.fas {
  margin-right: 5px;
}

.minion3 {
  width: 34%;
}

.minion4 {
  height: 100%;
  width: 10%;
  float: left;
  line-height: 70px;
}

.minion5 {
  width: 42%;
  margin-right: 0px;
}

.minion3,
.minion4,
.minion5 {
  float: left;
}

.minion2 {
  float: left;
  width: 50%;
}

.minion2 button,
.minion1 button {
  height: 30px;
}

.minion2 i {
  color: transparent;
}

.minion1 button,
.minion2 button {
  background-color: transparent;
  border: transparent;
}

.minion4 button {
  width: 60px;
  border: 1px solid #ff7a59;
  height: 30px;
  border-radius: 3px;
}

.minion5 button {
  width: 140px;
  height: 30px;
  background-color: #ff7a59;
  border: none;
  border-radius: 5px;
}

.stanghetta {
  border-left: 1px solid black;
  height: 30%;
  width: 1px;
  float: left;
  margin-top: 25px;
}

header button:hover {
  cursor: pointer;
}

.minicontainer-sx button {
  color: black;
}

header button {
  font-size: 15px;
}

.btn-free {
  margin-left: 35px;
  color: #ffffff;
  background-color: #ff7a59;
}

.btn-login {
  background-color: #ffffff;
}

.btn-login:hover {
  background-color: rgba(255, 122, 89, 0.1);
}

/***************** PSEUDO HEADER ******************/

.fwbianchino {
  background-color: #ffffff;
}

.container-bianchino {
  background-color: #ffffff;
  /*provvisoria*/
  height: 160px;
}

.interno01 {
  height: 150px;
  width: 30%;
  float: left;
  position: relative;
}
/*********** IL LOGO SCAVALCA L'HEADER ***********/
#logo img {
  position: absolute;
  margin-top: 100px;
}

.interno02 {
  margin-top: 80px;
  width: 70%;
  height: 50%;
  float: right;
}

.ul-orizzontale li {
  float: right;
}

.ul-orizzontale li a {
  display: block;
  color: rgb(88, 56, 56);
  font-size: 20px;
  text-align: right;
  padding: 20px;
  text-decoration: none;
  line-height: 35px;
}

ul {
  list-style: none;
}
/****************** FASCIA BLU ALTA *****************/

.fwbluino1 {
  background-color: #425b76;
}

.container-bluino1 {
  background-color: #425b76;
  /*provvisoria*/
}

.fascia-blu {
  height: 100%;
  position: relative;
}

.box-scritta {
  width: 80%;
  height: 100%;
  position: relative;
  float: left;
  color: #ebeef0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.boxbottone {
  width: 14%;
  float: right;
  height: 100%;
  position: relative;
}

.box-scritta p {
  font-size: 15.5px;
  line-height: 25px;
}

.boxbottone button {
  width: 100%;
  float: left;
  color: #536475;
  margin-top: 25px;
  margin-bottom: 25px;
}

.bottonelearn {
  /*DA SISTEMARE: SCAVALCA L'HEADER */
  height: 40px;
  border-radius: 5px;
  border: none;
}

.bottonelearn:hover {
  cursor: pointer;
}

/************** SEZIONE ROSA ****************/

.fwrosino {
  background-color: #fff2ee;
}

.container-rosino {
  background-color: #fff2ee;
  /*provvisoria*/
}

.scatola-grande {
  height: 100%;
  width: 40%;
}

.h1-e-p {
  padding-top: 70px;
}

.h1grosso {
  padding-bottom: 20px;
  font-size: 50px;
}

.bottonegrosso {
  height: 100px;
}

.bottonegrosso button {
  height: 100%;
  width: 200px;
  color: #ffffff;
  background-color: #ff7a59;
  border: none;
  border-radius: 5px;
}

.scatolina {
  width: 99%;
}

.h1grosso {
  font-size: 50px;
  color: #455668;
}

.paragrafo1 {
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 25px;
  color: #455668;
}

.paragrafino {
  margin-top: 10px;
  font-size: 12px;
  color: #455668;
}

.paragrafino {
  height: 30%;
  padding-bottom: 50px;
}

/************** SEZIONE ACQUA PICCOLA *************/

.fwacqua-small {
  background-image: linear-gradient(
    to right,
    rgb(175, 235, 228),
    rgb(0, 164, 141)
  );
}

.fwacqua {
  background-color: #00b6ab;
  background-image: linear-gradient(
    to right,
    rgb(0, 168, 186),
    rgb(0, 188, 166)
  );
}

.container-acqua-small {
  /*provvisoria*/
  height: 80px;
}

/********************* SEZ CUBO **************************/

.fwgrigino2 {
  background-color: #f5f8fa;
}

.container-grigino2 {
  background-color: #f5f8fa;
  /*provvisoria*/
  /*border: 1px solid black;*/
  height: 1600px;
}

.sezione-grigia {
  height: 100%;
  /*border: 2px solid red;*/
}

.riga1 img {
  width: 25%;
  margin: auto 37.5%;
  margin-top: 70px;
}

.riga1 h3,
.riga1 p {
  text-align: center;
}

.riga1 h3 {
  font-size: 30px;
  padding-bottom: 25px;
}

.riga1 p {
  padding-bottom: 50px;
}

/*CARDS*/

.card {
  width: 32%;
  position: relative;
  float: left; /*questo float disturba le dimensioni del container: butta fuori le 3 cards dal loro container... Perciò devo lasciare l'altezza del loro container in pixel*/
  margin-top: 3%;
  background-color: #ffffff;
  text-align: center;
  color: #33475b;
}

.card0 {
  height: 400px;
  background-color: #ffffff;
  position: relative;
  color: #33475b;
  border-radius: 10px;
}

.cont1 {
  width: 33.33333%;
  height: 100%;
  position: relative;
  float: left;
  padding-top: 80px;
}

.cont1 img {
  width: 35%;
  position: relative;
  margin: auto 50%;
  transform: translateX(-50%);
}

.cont1 button {
  width: 25%;
  border: 1px solid black;
  margin: auto 50%;
  margin-top: 70px;
  margin-bottom: 70px;
  transform: translateX(-50%);
  height: 50px;
  background-color: #ff7a59;
  color: #ffffff;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

.cont2 {
  width: 66.66667%;
  height: 100%;
  position: relative;
  float: left;
}

.cont2 h4 {
  font-size: 25px;
}

.cont2 p {
  line-height: 28px;
}

.div1 {
  padding-top: 70px;
}

.div2 {
  padding-top: 25px;
}

.div3 {
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 30px;
}

.ul-check li {
  display: inline-block;
  margin-right: 40px;
  padding-top: 20px;
}

.ul-check .far {
  margin-right: 13px;
  background-color: rgb(253, 189, 14);
  font-size: 18px;
}

.boite {
  height: 25%;
}
.card2 {
  margin-right: 2%;
  margin-left: 2%;
}

.boite1 img,
.boite5 img,
.boite9 img {
  width: 25%;
  margin: auto 50%;
  transform: translateX(-50%);
  margin-top: 45px;
}

.boite5 img,
.boite9 img {
  height: 100px;
}

.card h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card p {
  line-height: 22px;
  margin-bottom: 30px;
  padding-left: 20px;
  text-align: start;
}

.boite hr {
  padding-top: 20px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
}

.boite h4 {
  margin-top: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.boite li {
  text-align: left;
  padding-left: 20px;
}

.boite .far {
  /*background-color: #ff7a59; ((FUNZIONA MALE DA FONTAWESOME))*/
  line-height: 25px;
  margin-right: 10px;
}

.boite button {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 60px;
  width: 30%;
  background-color: #ff7a59;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

/*************** SEZIONE ACQUA DELL'ELBA **********/
.fwacqua {
  background-color: #00b6ab;

  border: 1px solid transparent; /*se lo tolgo si accorcia la sezione verdeacqua*/
}

.container-acqua {
  /*provvisoria*/
  background-image: linear-gradient(
    to right,
    rgb(0, 168, 186),
    rgb(0, 188, 166)
  );
}

.wrapper {
  text-align: center;
  color: #ffff;
}

.wrapper h2 {
  font-size: 30px;
  width: 65%;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 30px;
  line-height: 45px;
  font-weight: bold;
}

.wrapper p {
  width: 65%;
  margin: 0 auto;
  line-height: 30px;
}

/* inizio "tabella" - non è una tabella! */

.wrapper-pseudo-tabella {
  width: 100%;
  height: 450px;
  margin-top: 60px;
  margin-bottom: 120px;
  margin-bottom: 300;
}

.row1,
.row2 {
  height: 50%;
  width: 100%;
}

.row1 {
  border-top: transparent;
  border-bottom: 1px solid white;
}

.scatoletta {
  width: 25%;
  height: 100%;
  border: 1px solid white;
  float: left;
  padding-top: 35px;
  border-top: none;
  border-bottom: transparent;
  font-size: 25px;
}

.uno1,
.cinque5 {
  border-left: transparent;
}

.quattro4,
.otto8 {
  border-right: transparent;
}

/*************** SEZIONE PENULTIMA BIANCA **********/

.fwbianchino2 {
  background-color: #ffffff;
}

.container-bianchino2 {
  background-color: #ffffff;

  /*provvisorio*/
  height: 500px;
  border: 1px solid black;
}

/******************* FOOTER ***********************/
.fwbluino-big {
  background-color: #425b76;
}

.footer {
  /*provvisoria*/
  height: 500px;
  border: 1px solid white;
}

.upper-footer {
  background-color: #425b76;

  /*provvisoria*/
  height: 50%;
}

.lower-footer {
  background-color: #425b76;

  /*provvisoria*/
  height: 50%;
}

/************************* BUTTON STICKY*****************/

.fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 50px;
  width: 50px;
  height: 100px;
}

.fixedbutton img {
  height: 80px;
  width: 80px;
}

.fixedbutton:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
